<div class="page-header">
  <h3>Editing Calendar for <%= @training_calendar.training_center.label %></h3>
</div>

<div class="alert alert-info">
  <span>This training is of the status : <strong><%= @training_calendar.status %></strong></span>
</div>

<%= render 'form' %>

<%= link_to 'Show', @training_calendar %> |
<%= link_to 'Back', training_calendars_path %>
