<% unless notice.nil? then %>
    <div id="notice" class="alert alert-success">
      <%= notice %> <a class="close" data-dismiss="alert" href="#">&times;</a>
    </div>
<% end %>

<div class="subnav">
  <ul class="nav nav-pills">
    <li><%= link_to 'Edit', edit_training_calendar_path(@training_calendar) %></li>
    <li><%= link_to 'Add Participants', new_training_calendar_trainee_path(@training_calendar) %></li>
    <li><%= link_to 'Start Training', "/training_calendars/#{@training_calendar.id}/start" %> </li>
    <li><%= link_to 'End Training', "/training_calendars/#{@training_calendar.id}/end" %> </li>
    <li><%= link_to 'Track Attendance', "/training_calendars/#{@training_calendar.id}/attendance" %></li>
    <li><%= link_to 'All Calendars', training_calendars_path %></li>
  </ul>
</div>

<br/>

<div class="alert alert-info">
  <span>The status of this training : <strong><%= @training_calendar.status_message %></strong></span>
</div>

<div class="well form-horizontal">
  <fieldset>
    <legend>Calendar for <%= @training_calendar.training_center.label %></legend>
    <div class="control-group">
      <label class="control-label" for="select01">Training Center</label>

      <div class="controls">
        <label class="control-label" for="select01">
          <%= link_to(@training_calendar.training_center.name, @training_calendar.training_center) %>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Course</label>

      <div class="controls">
        <label class="control-label">
          <%= link_to(@training_calendar.course.name, @training_calendar.course) %>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Batch Size</label>

      <div class="controls">
        <label class="control-label">
          <%= @training_calendar.batch_size %>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Start Date</label>

      <div class="controls">
        <label class="control-label">
          <%= @training_calendar.start_date %>
        </label>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">End Date</label>

      <div class="controls">
        <label class="control-label">
          <%= @training_calendar.end_date %>
        </label>
      </div>
    </div>

  </fieldset>
</div>


<%= render :partial => 'participants' %>

