<!DOCTYPE html>
<html>
<head>
  <title>S A V E - Deployment Administration System</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="">S.A.V.E</a>

      <div class="nav-collapse">
        <ul class="nav">

          <li class="active">
            <a href="<%= dashboard_url %>">Dashboard</a>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Manage Trainings <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= tra %>">Training Calenders</a></li>
              <li><a href="#">Participant Batches</a></li>
              <li class="divider"></li>
              <li><a href="#">Track Trainings</a></li>
              <li><a href="#">Daily Attendance</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Maintenance<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Training Centers</a></li>
              <li><a href="#">CVET Courses</a></li>
              <li><a href="#">Holiday List</a></li>
              <li class="divider"></li>
              <li><a href="#">District Coordinators</a></li>
              <li><a href="#">Facilitators</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Account<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Change Password</a></li>
            </ul>
          </li>

          <li class="offset4">
            <a href="logout">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= yield %>

</body>
</html>
